
.container-treino {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

.lista-exercicios {
    list-style: none;
    padding: 0;
    text-align: left;
}

.lista-exercicios li {
    background: #111;
    margin-bottom: 15px;
    padding: 18px;
    border-radius: 8px;
    border-left: 5px solid #fff;
    transition: 0.3s;
}

.lista-exercicios li:hover {
    transform: scale(1.02);
    background: #1a1a1a;
}

.tema-gojo li {
    border-left-color: #d39bfe;
    box-shadow: 0 0 10px rgba(162, 155, 254, 0.3);
}

.tema-gojo li:hover {
    box-shadow: 0 0 10px #a29bfe, 0 0 20px #a29bfe, 0 0 40px rgba(162, 155, 254, 0.5);
}

.tema-gojo .titulo-principal {
    color: #c7c2ff;
    animation: glowPulseGojo 7.55s infinite ease-in-out;
}

.tema-gojo .titulo-sessao {
    color: #c7c2ff;
    text-shadow: 0 0 10px #a29bfe, 0 0 25px rgba(162, 155, 254, 0.6);
    animation: glowPulseGojo 10s infinite ease-in-out;
}

@keyframes glowPulseGojo {
    0% { text-shadow: 0 0 5px #a29bfe, 0 0 10px #a29bfe; }
    50% { text-shadow: 0 0 20px #a29bfe, 0 0 40px #a29bfe; }
    100% { text-shadow: 0 0 5px #a29bfe, 0 0 10px #a29bfe; }
}

.tema-maki li {
    border-left-color: #00ff88;
    box-shadow: 0 0 15px rgba(0, 255, 136, 0.5);
}

.tema-maki li:hover {
    box-shadow: 0 0 20px rgba(46, 204, 113, 0.7);
}

.tema-maki .titulo-sessao {
    color: #00ff88;
    text-shadow: 0 0 10px #00ff88;
}

.tema-maki .titulo-principal {
    color: #00ff88;
    text-shadow: 0 0 15px rgba(0, 255, 136, 0.85);
}

.tema-itadori li {
    border-left-color: #ff4757;
    box-shadow: 0 0 10px rgba(255, 71, 87, 0.3);
}

.tema-itadori li:hover {
    box-shadow: 0 0 20px rgba(255, 71, 87, 0.7);
}

.tema-itadori .titulo-sessao {
    color: #ff4757;
    text-shadow: 0 0 10px #ff4757;
}

.tema-toji li {
    border-left-color: #001aff;
    box-shadow: 0 0 15px rgba(0, 26, 255, 0.5);
}

.tema-toji li:hover {
    box-shadow: 0 0 20px rgba(55, 66, 250, 0.7);
}

.tema-toji .titulo-principal {
    color: #0d1cff;
    text-shadow: 0 0 15px rgba(13, 28, 255, 0.85);
}

.tema-toji .titulo-sessao {
    color: #001aff;
    text-shadow: 0 0 10px #001aff;
}
